<!-- ユーザー詳細 -->
<div>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
  <thead class="thead-lignt">
  <tr><th>Name</th><th><%= user.name %></th></tr>
  <tr><td>introduction</td><td></td></tr>
  <tr><td><%= user.introduction %></td><td></td></tr>
  </table>
  <% if user == current_user %>
  <% end %>
<%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
<i class="fas fa-user-cog"></i>
<% end %>
</div>
<!-- 1ユーザーの詳細end -->